Host 10.*
    ProxyCommand ssh -F ssh_config -W %h:%p bastion
    IdentityFile ssh/rsakey
    User ubuntu

Host bastion
    Hostname bastion.k8s.techx.fr
    User ubuntu
    IdentityFile ssh/rsakey

Host *
    ControlMaster auto
    ControlPath ~/.ssh/ansible-%r@%h:%p
    ControlPersist 5m
